/* Footer */
footer {
    margin-top: auto; // Spinge il footer verso il fondo della pagina
    padding: 1em; // Aggiungi spazio attorno al footer
    background-color: // #f1f1f1; // Colore di sfondo (opzionale)
    text-align: center;
}

/* Footer navigation links */
.links a {
    margin-right: 1em;
}

/* Footer copyrights */
.copy {
    color: #aaa;
    text-align: center;
    font-size: 0.75em; // Modifica questa dimensione se necessario
}
